{% extends "base.html" %}

{% block form1 %}
<form method="post">
    {{ form.csrf_token }}
    {% for field in form if  field.name != 'csrf_token' %}
        {{ field.label }}<br>
        {{ field }}<br>
            <ul>
            {% for error in obj.errors %}
                <li>
                    <span style="color: red;">{{ error }}</span>
                </li>
            {% endfor %}
            </ul>
    {% endfor %}
    <input type="submit" value="Зарегистрироваться">
</form>
{% endblock %}
